@model BillViewModel
@{
    ViewData["Title"] = "Details";
}
<h2 class="font-weight-light">
    <strong>
        @Model.bill
    </strong>
    |
    @Model.short_title
</h2>

<p class="lead">
    @Model.title
</p>
<p>
    @Model.summary
</p>



<div class="my-3">
    <h5 class="mb-2 p-3">
        <span data-feather="thumbs-up"></span>
        Votes
    </h5>
    @if (Model.votes?.Count > 0)
    {
        <div class="table-responsive-md">
            <table id="tbl_votes" class="table table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            Result
                        </th>
                        <th>
                            Date
                        </th>
                        <th>
                            Description
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.votes?.Count; i++)
                    {
                        var vote = Model.votes[i];
                    <tr>
                        <td>
                            @vote.result
                        </td>
                        <td>@Convert.ToDateTime(vote.date).ToShortDateString() @Convert.ToDateTime(vote.time).ToShortTimeString()</td>
                        <td>
                            @vote.question
                            @if (vote?.total != null)
                            {
                                <div class="row">
                                    <div class="col">
                                        <span class="badge badge-success">
                                            @vote.total?.yes
                                        </span>
                                        Yes
                                    </div>
                                    <div class="col">
                                        <span class="badge badge-success">
                                            @vote.total?.no
                                        </span>
                                        No
                                    </div>
                                    <div class="col">
                                        <span class="badge badge-success">
                                            @vote.total?.present
                                        </span>
                                        Present
                                    </div>
                                    <div class="col">
                                        <span class="badge badge-success">
                                            @vote.total?.not_voting
                                            Not Voting
                                        </span>
                                    </div>
                                </div>
                            }
                        </td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>
    }
    else
    {

        <div class="media text-muted p-3">
            <div class="media-body pb-3 mb-0 lh-125">
                <p class="text-danger">
                    There have been no votes for this bill.
                </p>
            </div>
        </div>
    }
</div>

<div class="my-3">
    <h5 class="mb-2 p-3">
        <span data-feather="edit-3"></span>
        Versions
    </h5>
    @if (Model.versions?.Count > 0)
    {
        <div class="table-responsive-md">
            <table id="tbl_versions" class="table table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th class="d-none"></th>
                        <th>
                            Title
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.versions?.Count; i++)
                    {
                        var version = Model.versions[i];
                        <tr>
                            <td class="d-none">@i</td>
                            <td>
                                @version.title
                            </td>
                            <td>
                                @version.status
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="media text-muted p-3">
            <div class="media-body pb-3 mb-0 lh-125">
                <p class="text-danger">
                    There have been no versions for this bill.
                </p>
            </div>
        </div>
    }
</div>


<div class="my-3">
    <h5 class="mb-2 p-3">
        <span data-feather="flag"></span>
        Actions
    </h5>
    @if (Model.actions?.Count > 0)
    {
<div class="table-responsive-md">
    <table id="tbl_actions" class="table table-sm">
        <thead class="thead-dark">
            <tr>
                <th>
                    Type
                </th>
                <th>
                    Date
                </th>
                <th>
                    Description
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.actions?.Count; i++)
            {
                var action = Model.actions[i];
                <tr>
                    <td>
                        @action.action_type
                    </td>
                    <td>
                        @Convert.ToDateTime(action.datetime).ToShortDateString()
                    </td>
                    <td>
                        @action.description
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
        
    }
    else
    {
        <div class="media text-muted p-3">
            <div class="media-body pb-3 mb-0 lh-125">
                <p class="text-danger">
                    There have been no actions for this bill.
                </p>
            </div>
        </div>
    }
</div>
<div class="my-3">
    <h5 class="mb-2 p-3">
        <i class="fa fa-bullhorn"></i>
        Statements
    </h5>
    @if (Model.statments?.Count > 0)
    {
        @await Html.PartialAsync("~/Views/Statements/_List.cshtml", Model.statments)

    }
    else
    {
        <div class="media text-muted p-3">
            <div class="media-body pb-3 mb-0 lh-125">
                <p class="text-danger">
                    There have been no statements for this bill.
                </p>
            </div>
        </div>
    }
</div>

@section Scripts{ 
<script src="~/js/Bills/Details.cshtml.js" asp-append-version="true"></script>
<script>
    BillsDetailsModule.init();
</script>
}